#li {
    background-color: cyan;
    font-size: 20px;

}

.list {
    border: 2px solid red;
    color: blue;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}

.card {
    color: rgb(50, 204, 60);
    background-color: rgb(22, 25, 25);
    border: 5px solid chartreuse;
    border-radius: 5px;
    padding: 5px;
    margin: 50px;
    width: 300px;
    height: 150px;
    border-radius: 20px;
}

#ca{
    background-color: blanchedalmond;
    width: 100%;
    height: 110vh;
    display: flex;
    justify-content: space-between ;
    align-items: center;
}

.card:hover{
    background-color: aqua;
    cursor: grab;
    transition: 0.5s;
}