@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap'); /* font-family: 'Ubuntu', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap'); /* font-family: 'Varela Round', sans-serif; */
* {
    margin: 0;
    padding: 0;
}

body{
    background-color: antiquewhite;

}

nav{
    font-family: 'Ubuntu', sans-serif;
    position: sticky;
}

nav ul li{
    font-weight: 700;
}

nav ul{
    display: flex;
    list-style: none;
    height: 60px;
    background-color: black;
    color: white;
    align-items: center;

}

.brand img{
    width: 36px;
    padding: 0 12px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

nav ul li{
    padding: 0 12px;
}

.bottom{
    position: sticky;
    height: 100px;
    background-color: black;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    font-family: 'Varela Round', sans-serif;
}

.icons{
    margin: 12px 0;
}

.icons i{
    cursor: pointer;
    margin: 0 10px;
}

.container{
    min-height: 54vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 13px;
    padding: 34px;
    background-image: url('../static/bg.jpg');
}

#myProgressBar{
    width: 80vw;

}

.songItem{
    margin: 10px 0;
    display: flex;
    align-items: center;
    width: 72%;
    color: black;
    background-color: aliceblue;
    border: 2px solid aqua;
    border-radius: 25px;
    padding: 0 25px;
    font-weight: 700;
    cursor: pointer;
    justify-content: space-between;
}

.songItemContainer{
    margin-top: 30px;
}

.songItem span{
    margin: 0px 8px;
}

.songlistplay i{
    cursor: pointer;
}

.songItem img{
    height: 30px;
    border-radius: 15px;
}

.songInfo{
    position: absolute;
    left: 10vw;
}

.songInfo img{
    opacity: 0; /*This change in opacity from 0 to 1 will hide my gif, we will change it to 1 through Js when song is playing*/
    transition: opacity 1s ease-in;
}

.bottom span{
    font-size: 1.2rem;
    font-weight: 500;
}