* {
    margin: 0px;
    padding: 05px;
    font-family: 'Poppins';
}


/* header part */
a{
    color: ghostwhite;
    text-decoration: none;
    margin-right: 10px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

a:hover {
    color: #2eb086;
}

header{
    background-color: #313552;
    height: 100vh;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 86%);
}

#nav{
    display: flex; /*flex is used to arrange the elements in main axis (i.e. x - axis)*/
    justify-content: space-between;/*space between used to create max space between elements*//**/
    /* width: 1000px; */
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    
    
}

#left_nav{
    display: flex;
    align-items: center;
    
}




#contact{
    /* padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px; */
    padding: 5px 10px;/*used to show the different colour in nearby pixel*/
    border: 3px #8b94db solid;
    background-color: #2eb086;
    font-weight: 900;/*make bold*/
    color: aliceblue;
    transition: 0.3s;
}

#contact:hover{
    background-color: #313552;
    color: #2eb086;
}


/* header part*/

/* main part */
main{
    margin-left: 20px;
    margin-right: 400px;
    align-items: center;
}


#name{
    color: #2eb086;
}

#Content{
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

#Content h4{
    color: crimson;
}

#right_main{
    color: aliceblue;
    text-align: right;
}
p{
    width: 150px;
    margin-left: 300px;
}

#resume{
    border: 2px solid azure;
    background-color: cyan;
    color: black;
    font-weight: 700;
    transition: 0.4s;
}


#resume:hover{
    background-color: black;
    color: aqua;
}


/* main part */